<div class="table-container">
  <ul class="nav nav-tabs tab-container">
    <li class="nav-item" *ngFor="let tab of tabList">
      <a class="nav-link" [ngClass]="{'active': currTab === tab.key}" (click)="selectTab(tab)">{{tab.label}}</a>
    </li>
    <li class="global-search">
      <input type="text" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global search"/>
    </li>
  </ul>
  <div class="table-section">
    <p-table #dt [columns]="columns" [value]="tableData" [paginator]="true" [rows]="noOfRowToDisplay">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" class="text-center">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [ngClass]="col.className">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
